$header-height: 60px;

.header {


	height: $header-height;
	margin: 1em 0;

	& > a {
		text-decoration: none;
	}

}

.header-siteTitle {
	max-width: 300px;
	margin: 0 auto;
	padding: 0 0 0 1.25em;

	background: url('../images/kultarahaksi_logo.png') no-repeat left center;
	background-image: url('../images/kultarahaksi_logo.svg');
	background-size: contain;

	font-size: 40px;
	font-weight: 100;
	line-height: $header-height;
	letter-spacing: -0.04em;

	em {
		font-weight: 400;
		font-style: normal;
		letter-spacing: -0.02em;
	}
}

.header-navigation {
	float: right;
	line-height: $header-height;
	color: lighten($color-text, 20%);

	.header-navigation-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.header-navigation-item {
		float: left;
		padding: 0 0.5em;

		font-weight: 400;
		text-transform: uppercase;

		&.active {
			font-size: 1.05em;
			font-weight: 600;
		}

		a {
			text-decoration: none;
			&:hover, &:active {
				text-decoration: underline;
			}
		}


	}
}

@media screen and (min-width: $breakpoint-tablet) {
	.header-siteTitle {
		float: left;
		margin: 0;
	}
}
