html {
	font-size: 10px;
}

body {

	background: $color-background;

	font: 400 1.6em/1.5 'Source Sans Pro', arial, sans-serif;
	color: $color-text;
}


.wrapper {

}

.full-width {
	float: left;
	width: 100%;

	& + .full-width {
		margin: 128px 0 0;
	}


	&.black {
		background: $black;
		color: $white;
	}
}
